Data/Chat/General/*
Data/Chat/Special/*
Data/Input/*
Data/Output/*

Environment/

Assets/Audio/*
Assets/Images/*

Utilities/LLMS/*
Utilities/Models/*
Utilities/Miscellaneous/*
Utilities/__pycache__/

App/__pycache__/

Hooks/__pycache__/

Build/

Distribution/

.gitignore
.env