gtts
tk
pydub
numpy
librosa
soundfile
openai-whisper
PyAudio
pynput
python-dotenv
langdetect
transformers
customtkinter
requests
PyYAML
ffmpeg
praat-parselmouth
scipy
torchcrepe
pyworld
ffmpeg-python
faiss-cpu
twitchio
pytchat
SentencePiece
sacremoses
tensorboardX
pycuda
emoji
sounddevice
sox
logger
py-cpuinfo
expecttest
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
pyinstaller
Pillow
git+https://github.com/One-sixth/fairseq.git